.intro {
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro h1 {
  color: var(--ifm-color-primary);
}

.intro p {
  max-width: 400px;
}

.logo {
  max-width: 80%;
}
